<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>The home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus, rerum tempora? Perspiciatis, excepturi tempora. Nulla ipsa quibusdam ex natus officia excepturi modi, quo eum repudiandae temporibus. Dolor ea tempore quo.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, earum eaque. Soluta sed blanditiis minima quod sequi tenetur, alias ad sit corrupti vero velit, mollitia praesentium veritatis laborum ut consequuntur.</p>
</body>
</html>