body {
    background-color: #ff3535;
    color: white;
    text-align: center;
}

h1 {
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
}

#container {
    border: 1px solid black;
    border-radius: 5px;
}

.pokemon {
    display: inline-block;
    text-align: center;
}
.pokemon img {
    display: block;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px 5px;
}
